CCambioFx/xml-resources/web-service-references/WSCambio/wsdl/localhost_8080/WSForex/WSCambio.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://PkgWsCambio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://PkgWsCambio/" name="WSCambio">
<types>
<xsd:schema>
<xsd:import namespace="http://PkgWsCambio/" schemaLocation="http://localhost:8080/WSForex/WSCambio?xsd=1"/>
</xsd:schema>
</types>
<message name="CargarListaUbicacion">
<part name="parameters" element="tns:CargarListaUbicacion"/>
</message>
<message name="CargarListaUbicacionResponse">
<part name="parameters" element="tns:CargarListaUbicacionResponse"/>
</message>
<message name="CargarTipoOficina">
<part name="parameters" element="tns:CargarTipoOficina"/>
</message>
<message name="CargarTipoOficinaResponse">
<part name="parameters" element="tns:CargarTipoOficinaResponse"/>
</message>
<message name="InsertarCasaCambio">
<part name="parameters" element="tns:InsertarCasaCambio"/>
</message>
<message name="InsertarCasaCambioResponse">
<part name="parameters" element="tns:InsertarCasaCambioResponse"/>
</message>
<message name="IniciarSesion">
<part name="parameters" element="tns:IniciarSesion"/>
</message>
<message name="IniciarSesionResponse">
<part name="parameters" element="tns:IniciarSesionResponse"/>
</message>
<portType name="WSCambio">
<operation name="CargarListaUbicacion">
<input wsam:Action="http://PkgWsCambio/WSCambio/CargarListaUbicacionRequest" message="tns:CargarListaUbicacion"/>
<output wsam:Action="http://PkgWsCambio/WSCambio/CargarListaUbicacionResponse" message="tns:CargarListaUbicacionResponse"/>
</operation>
<operation name="CargarTipoOficina">
<input wsam:Action="http://PkgWsCambio/WSCambio/CargarTipoOficinaRequest" message="tns:CargarTipoOficina"/>
<output wsam:Action="http://PkgWsCambio/WSCambio/CargarTipoOficinaResponse" message="tns:CargarTipoOficinaResponse"/>
</operation>
<operation name="InsertarCasaCambio">
<input wsam:Action="http://PkgWsCambio/WSCambio/InsertarCasaCambioRequest" message="tns:InsertarCasaCambio"/>
<output wsam:Action="http://PkgWsCambio/WSCambio/InsertarCasaCambioResponse" message="tns:InsertarCasaCambioResponse"/>
</operation>
<operation name="IniciarSesion">
<input wsam:Action="http://PkgWsCambio/WSCambio/IniciarSesionRequest" message="tns:IniciarSesion"/>
<output wsam:Action="http://PkgWsCambio/WSCambio/IniciarSesionResponse" message="tns:IniciarSesionResponse"/>
</operation>
</portType>
<binding name="WSCambioPortBinding" type="tns:WSCambio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CargarListaUbicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CargarTipoOficina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarCasaCambio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCambio">
<port name="WSCambioPort" binding="tns:WSCambioPortBinding">
<soap:address location="http://localhost:8080/WSForex/WSCambio"/>
</port>
</service>
</definitions>