CCambioFx/xml-resources/web-service-references/WSCambio/wsdl/localhost_8080/WSForex/WSCambio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://PkgWsCambio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://PkgWsCambio/">

<xs:element name="CargarListaUbicacion" type="tns:CargarListaUbicacion"/>

<xs:element name="CargarListaUbicacionResponse" type="tns:CargarListaUbicacionResponse"/>

<xs:element name="CargarTipoOficina" type="tns:CargarTipoOficina"/>

<xs:element name="CargarTipoOficinaResponse" type="tns:CargarTipoOficinaResponse"/>

<xs:element name="IniciarSesion" type="tns:IniciarSesion"/>

<xs:element name="IniciarSesionResponse" type="tns:IniciarSesionResponse"/>

<xs:complexType name="CargarListaUbicacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CargarListaUbicacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsEntidadListaUbicacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsEntidadListaUbicacion">
<xs:sequence>
<xs:element name="idDepartamento" type="xs:string" minOccurs="0"/>
<xs:element name="idDistrito" type="xs:string" minOccurs="0"/>
<xs:element name="idProvincia" type="xs:string" minOccurs="0"/>
<xs:element name="nombreDepartamento" type="xs:string" minOccurs="0"/>
<xs:element name="nombreDistrito" type="xs:string" minOccurs="0"/>
<xs:element name="nombreProvincia" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CargarTipoOficina">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CargarTipoOficinaResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsEntidadTipoOficina" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsEntidadTipoOficina">
<xs:sequence>
<xs:element name="descripcionTipoOficina" type="xs:string" minOccurs="0"/>
<xs:element name="idTIpoOficina" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesion">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="tns:clsEntidadPersona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clsEntidadPersona">
<xs:sequence>
<xs:element name="apellidoPrimeroPersona" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoSegundoPersona" type="xs:string" minOccurs="0"/>
<xs:element name="idOcupacion" type="xs:string" minOccurs="0"/>
<xs:element name="idPais" type="xs:string" minOccurs="0"/>
<xs:element name="idTipoDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="nombresPersona" type="xs:string" minOccurs="0"/>
<xs:element name="numeroDocumentoPersona" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>